* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: getColor('dark-grey');
}

fieldset, p, h1, h2, h3, h4, h5 {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    background-color: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

:focus {
    outline: 3px solid getColor('dark-blue');
}